@charset "UTF-8";

body {
  font-family: 'Lato';
}

img {
  vertical-align: bottom;
}

a {
  display: inline-block;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.fa-bolt {
  font-size: 40px;
  color: #808080;
}

.font-size0 {
  font-size: 0;
}

.header__nav {
  font-size: 12px;
  text-decoration: none;
  padding: 14px 12px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
}

.header__nav:hover {
  color: #333;
}

.main {
  padding-top: 70px;
}

.theme {
  background-color: #f2f2f2;
}

.is-raleway {
  font-family: 'Raleway';
}

.theme-inner {
  text-align: center;
  padding: 250px 0;
}

.theme__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

.theme__text {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section__container {
  background-color: #74cfae;
}

.section__inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}

.WHAT__block {
  text-align: center;
  color: #fff;
  line-height: 30px;
}

.WHAT__title {
  font-size: 24px;
}

.WHAT__text {
  margin-top: 35px;
  font-size: 20px;
  width: 650px;
}

.appeal-point {
  background-color: #f2f2f2;
}

.appeal-point__inner {
  padding-top: 60px;
  padding-bottom: 70px;
}

.appeal-point__title {
  font-size: 24px;
  text-align: center;
  color: #333;
}

.appeal-point__images {
  margin-top: 40px;
}

.appeal-point__image {
  display: inline-block;
  margin-left: 100px;
}

.appeal-point__image:nth-child(3n+1) {
  margin-left: 0;
}

.appeal-point__image:nth-child(n+4) {
  margin-top: 80px;
}

.appeal-point__link {
  opacity: 0.7;
  transition: 0.3s;
}

.appeal-point__link:hover {
  opacity: 1;
}

.contact__container {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.contact__text {
  width: 520px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.contact__nav {
  margin-left: 90px;
  font-size: 12px;
  text-decoration: none;
  padding: 14px 20px;
  color: #fff;
  background-color: #74cfae;
  transition: 0.3s;
}

.contact__nav:hover {
  color: #333;
}

.skills__container {
  background-color: #4e4e4e;
  text-align: center;
}

.skills__inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.skills__title {
  font-size: 24px;
  color: #fff;
}

.skills-image:nth-child(4n+1) {
  margin-left: 0;
}

.skills-images {
  margin-top: 70px;
}

.skills-image {
  margin-left: 180px;
  display: inline-block;
}

.skills-image figcaption {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}

.sns__container {
  background-color: #f2f2f2;
}

.sns__inner {
  text-align: center;
  padding: 200px 0;
}

.sns__child {
  display: inline-block;
}

.sns__icon {
  padding: 25px 0;
  transition: 0.3s;
  font-size:initial;
}

.sns__icon:hover {
  background-color: #fff;
}

.sns__icon i {
  width: 185px;
  color: #74cfae;
}

.font-size4em {
  font-size: 4em;
}

.footer {
  background-color: #74cfae;
}

.footer__inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer__text {
  text-align: right;
  color: #fff;
}


@media screen and (max-width: 1199px) { 
  .inner {
    width: 97%;
  }

  .section__inner {
    flex-direction: column;
    padding-bottom: 25px;
  }

  .WHAT__title {
    margin-top: 20px;
  } 

  .WHAT__text {
    width: 100%;
  }

  .appeal-point__images {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .appeal-point__image {
    margin-left: 0;
  }

  .appeal-point__image:nth-child(n+4):not(.appeal-point__image:nth-child(3n+1)) {
    margin-top: 0;
  }

  .contact__container {
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
  }

  .contact__text {
    width: 100%;
    line-height: 25px;
  }

  .contact__nav {
    margin-left: 0;
    margin-top: 40px;
    font-size: 16px;
    padding: 18px 26px;;
  }

  .skills-image {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }

  .skills-image:nth-child(n+2) {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) { 
  .inner {
    width: 97%;
  }

  .header__nav {
    display: none;
  }

  .ham {
    position: relative;
    width: 35px;
    height: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .ham_line {
    position: absolute;
    left: 14px;
    width: 28px;
    height: 3px;
    background-color: #ddd;
  }

  .ham_line1 {
    top: 11px;
  }

  .ham_line2 {
    top: 19px;
  }

  .ham_line3 {
    top: 28px;
  }

  .theme-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }

  .theme__title {
    font-size: 80px;
    line-height: 90px;
  }

  .section__inner {
    flex-direction: column;
    padding-bottom: 50px;
  }

  .WHAT__title {
    margin-top: 20px;
  } 

  .WHAT__text {
    width: 100%;
  }

  .appeal-point__images {
    text-align: center;
  }

  .contact__text {
    width: 100%;
    line-height: 25px;
  }

  .contact__nav {
    margin-left: 0;
    margin-top: 30px;
    font-size: 16px;
    padding: 18px 26px;;
  }

  .sns__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sns__child {
    width: 100%;
  }

  .sns__icon {
    width: calc(100% - 30px);
  }
}